nav > ul > li > a {
    font-family:'Roboto Condensed';
    font-size: 1.1em;
    letter-spacing:0.1em;
    text-decoration:none;
    color:black;
    margin:100px;
}

nav > ul > li > a:hover {
    color:darkolivegreen;
    cursor:pointer;
}

.activeLink {
    color: darkolivegreen;
    border-radius:5px;
    padding:5px;
    background-color:rgb(85, 107, 47);
    color:white;
}

p{
    font-family:'Roboto Condensed';
    letter-spacing:0em;
    font-size:1em;
}

#new > a{
    text-decoration:none;
}


h1{
    font-family: 'Cormorant Garamond';
    font-size:3em;
    margin-bottom:0px;
    text-align:center;
    
}

.intro, p {
    font-family:'Roboto Condensed';
    font-size:1.1em;
    font-weight:500;
    text-align:justify;
    margin-top:35px;
    max-width:100%;
    line-height:1.5em;
}

.oliveTxt{
    color:darkolivegreen;
}

h2 {
    font-family:'Cormorant Garramond';
    font-size:1.7em;
    color:white;
    text-align:center;
    letter-spacing:0.1em;
    margin:0px;
    font-weight:300;
}

#heading2 {
    font-family:'Montserrat';
}

h3{
    font-family:'Cormorant Garamond';
    font-size:1.7em;
    color:darkolivegreen;
    text-align:center;
    letter-spacing:0.1em;
    margin-bottom:-5px;  
}

.subtext{
    color:white;
    
}

.whitetxt{
    color:rgba(255, 255, 255, 0.884);
    text-align:left;
    font-size:1.1em;
    font-family:'Roboto Condensed';

}

.centeredText{
    text-align:center;
}

span {
    font-size:0.8em;
    color:rgba(15, 240, 101, 0.884);
    font-family: 'Open Sans Condensed';
    margin-top:5px;
}

#footer > li {
    list-style-type: none;
    color:white;
    font-size:0.9em;
    cursor:pointer;
}

#cc{
    text-align:center; 
    height:25px; 
    font-size:0.7em; 
    padding-top:10px;
    color:rgb(203, 240, 203);
    background-color:rgb(39, 38, 38);
    font-family:'Roboto Condensed';
}

.ingText > h2 {
    color:#e4cfff;
}

.green {
    color:#7dc24b;
}

.violet{
    color:#e4cfff;
}

#topBtn {
    width: 30px;
    height: 30px;
    display: none;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    font-size: 15px !important;
    color: white;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    border-radius: 10%;
    box-shadow: 1px 1px 5px rgb(83, 83, 83);
    background-color: #70b43fe8 ;
 }

 #hand{
     font-family:'Cormorand Garamont';
     color:black;
     text-transform:uppercase;
     margin:25px;
 }
 
 